.center{
    display: grid;
    place-content: center;
    margin-top: 200px;
    background-image: linear-gradient(to right, #42b883, #5f8ced);
    background-clip: text;
    color: transparent;
    font-size: 500%;
}
body{
    background-color: #1a1a1a;
}
.second-txt{
    display: grid;
    place-content: center;
    color: #959394;
    letter-spacing: 2px;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.sunshiney-regular {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
  font-style: normal;
}

.btn-primary{
  display: flex;
  color: #959394;
  text-decoration: none;
}
.btn-primary:hover{
  color:#42b883;
}

.btn-secondary{
  display: flex;
  color: #959394;
  text-decoration: none;
}
.btn-secondary:hover{
  color:#42b883;
}
.btn-third {
  display: flex;
  color: #959394;
  text-decoration: none;
}
.btn-third:hover {
  color:#42b883;
}
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

#particles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* чтобы не мешал контенту */
  background-color: #0d1117; /* твой фон */
}

.img {
  width: 2.5%;
  position: absolute;
  top: 10px;
  right:10px;

}